USE [GEDPES_OI_PRD]
GO
/****** Object:  StoredProcedure [dbo].[GED_PROC_CodigosBarras]    Script Date: 07/07/2014 15:44:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GED_PROC_CodigosBarras]
	@TIPO INT, @SUB INT,@CODIGO VARCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;
	
	IF OBJECT_ID('##TB_TEMP_CODIGOBARRAS', 'U') IS NOT NULL
		DROP TABLE ##TB_TEMP_CODIGOBARRAS;
	
	DECLARE @SQL VARCHAR(MAX);
	SET @SQL = ' SELECT';
    SET @SQL = @SQL + ' BARCODE.TPD_CODIGOBARRA,';
    SET @SQL = @SQL + ' DV.DIV_CODIGOREDUZIDO,';
    SET @SQL = @SQL + ' BARCODE.TPD_DESCRICAO,';
    SET @SQL = @SQL + ' BARCODE.TPD_IDDIVISAO,';
    SET @SQL = @SQL + ' BARCODE.TPD_IDTIPODOCUMENTO,';
    SET @SQL = @SQL + ' BARCODE.STD_IDSUBTIPOSDOCUMENTOS,';
    SET @SQL = @SQL + ' BARCODE.STD_FLAGVENCIMENTOMANUAL,';
    SET @SQL = @SQL + ' BARCODE.STD_MESVENCIMENTOANUAL,';
    SET @SQL = @SQL + ' BARCODE.TPD_TEMPOVALIDADE,';
    SET @SQL = @SQL + ' CASE WHEN BARCODE.TPD_TEMPOVALIDADE > 0 OR ';
	SET @SQL = @SQL + '			  BARCODE.STD_MESVENCIMENTOANUAL > 0 THEN 1 ELSE 0 ';
	SET @SQL = @SQL + ' END AS REQUERDATAINICIOVALIDADE ';

	SET @SQL = @SQL + ' INTO ##TB_TEMP_CODIGOBARRAS';

    SET @SQL = @SQL + ' FROM';
    SET @SQL = @SQL + ' (';

    IF (@TIPO = 1)
    BEGIN
        SET @SQL = @SQL + ' SELECT	A.TPD_CODIGOBARRA,';
        SET @SQL = @SQL + '		TPD_DESCRICAO,';
        SET @SQL = @SQL + '		TPD_TEMPOVALIDADE,';
        SET @SQL = @SQL + '		A.TPD_IDDIVISAO,';
        SET @SQL = @SQL + '		A.TPD_IDTIPODOCUMENTO,';
        SET @SQL = @SQL + '		NULL STD_IDSUBTIPOSDOCUMENTOS,';
        SET @SQL = @SQL + '		0 STD_FLAGVENCIMENTOMANUAL,';
        SET @SQL = @SQL + '		0 STD_MESVENCIMENTOANUAL';
        SET @SQL = @SQL + '		FROM GEDTIPOSDOCUMENTOS A';
        SET @SQL = @SQL + '	WHERE	TPD_IDTIPODOCUMENTO > 0 ';
    END

    IF (@TIPO = 1 AND @SUB = 1)
        SET @SQL = @SQL + ' UNION ALL';

    IF (@SUB = 1)
    BEGIN
        SET @SQL = @SQL + ' SELECT	B.STD_CODIGOBARRA AS TPD_CODIGOBARRA,';
        SET @SQL = @SQL + '		B.STD_DESCRICAO AS TPD_DESCRICAO,';
        SET @SQL = @SQL + '		B.STD_TEMPOVALIDADE AS TPD_TEMPOVALIDADE,';
        SET @SQL = @SQL + '		D.TPD_IDDIVISAO,';
        SET @SQL = @SQL + '		D.TPD_IDTIPODOCUMENTO,';
        SET @SQL = @SQL + '		B.STD_IDSUBTIPOSDOCUMENTOS,';
        SET @SQL = @SQL + '		B.STD_FLAGVENCIMENTOMANUAL,';
        SET @SQL = @SQL + '		B.STD_MESVENCIMENTOANUAL';               
        SET @SQL = @SQL + '		FROM GEDSUBTIPOSDOCUMENTOS B';
        SET @SQL = @SQL + '	JOIN GEDTIPOSDOCUMENTOS D ON B.STD_IDTIPOSDOCUMENTOS = D.TPD_IDTIPODOCUMENTO';
        SET @SQL = @SQL + '	WHERE	STD_IDSUBTIPOSDOCUMENTOS > 0 ';
    END

    SET @SQL = @SQL + ' ) AS BARCODE';
    SET @SQL = @SQL + ' JOIN GEDDIVISOES DV ON BARCODE.TPD_IDDIVISAO = DV.DIV_IDDIVISAO ';
    
    IF (@CODIGO <> '')
    BEGIN
       SET @SQL = @SQL + ' WHERE BARCODE.TPD_CODIGOBARRA = '''+@CODIGO+ ''' ';
       --SET @SQL = @SQL + ' WHERE (BARCODE.TPD_CODIGOBARRA LIKE ''%'+@CODIGO+ '%'') OR (BARCODE.TPD_DESCRICAO LIKE ''%'+@CODIGO+ '%'') ';       
    END
    
	SET FMTONLY OFF;
	
	EXEC( @SQL );
	
	SELECT * FROM ##TB_TEMP_CODIGOBARRAS;
	DROP TABLE ##TB_TEMP_CODIGOBARRAS;
	    
END
